################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C000UnitConverter/obj/Release/net6.0-windows
